html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  font-size: 16px;
  font-weight: 400;
}

th,
td {
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  text-transform: none;
  overflow: visible;

  border: 1px solid currentColor;
  border-radius: initial;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero {
  width: 800px;
  margin: 50px auto;
}

.hero__form {
  margin-bottom: 16px;
}

.form {
  --gap-field: 4px;

  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
}

.form__label {
  margin-right: var(--gap-field);
  font-size: 16px;
}

.form__input,
.form__mark-list,
.form__notify-ignored {
  box-sizing: border-box;
  width: 364px;
  height: 100%;
  padding: 2px;
  border: 1px solid currentColor;
}

.form__input--marked {
  opacity: 0;
}

.form__submit {
  margin-left: var(--gap-field);
  padding: 2px 20px;

  font-family: sans-serif;
  text-align: center;
  cursor: pointer;
}

.form__notify-ignored {
  top: -100%;
  transform: translateY(calc(-100% - var(--gap-field)));

  font-weight: 400;
}

.form__mark-list,
.form__notify-ignored {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 168px;
}

.form__mark-list {
  display: flex;
}

.form__mark-item {
  position: relative;
  margin-right: 7px;
}

.form__mark-item:last-child {
  margin-right: 0;
}

.form__mark-item--false {
  color: red;
}

.form__mark-item::after {
  position: absolute;
  content: ' ,';
  right: -4px;
  bottom: 0;
  color: black;
}

.form__mark-item:last-child:after {
  content: none;
}

.output-data {
  border-collapse: collapse;
  border: 1px solid currentColor;
}

.output-data th:first-child,
.output-data td:first-child {
  width: 546px;
}

.output-data td:first-child {
  text-align: left;
}

.output-data th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.output-data td {
  box-sizing: border-box;
  padding-top: 3px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

